{% extends 'base.html.twig' %}

{% block title %}Home {{ parent() }}{% endblock %}

{% block body %}
<div class="py-5 px-2 mb-0 bg-dark text-center text-light">
	<div class="display-1">
		<p class="text-info">Welcome</p>
	</div>
	<div class="lead">
		<p>Depending on the role of the logged in user, show reports or show POS interface.</p>
	</div>
	<!-- <div id="loginForm" class="py-3 mt-2">
		<form>
			<div class="form-group row">
				<label for="userlogin" class="col-sm-2 form-control-label">Email</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" id="userlogin" placeholder="username">
				</div>
			</div>
			<div class="form-group row">
				<label for="userpassword" class="col-sm-2 form-control-label">Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="userpassword" placeholder="username">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success">Sign in</button>
				</div>
			</div>
		</form>
	</div> -->
</div>
{% endblock %}
