{% extends 'base.html.twig' %}

{% block title %}New User {{parent()}}{% endblock %}

{% block body %}
		<div class="container">
	    {{ include('defaults/pagetitle.html.twig',{title:"Create New User", subtitle:"Page subtitle or help text to go here"})}}
	    <div class="col">
	    	{{include('user/_form.html.twig')}}
				
			</div>
    </div>
{% endblock %}
